.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}.orange{
    color: orange;
}.pink{
    color: pink;
}.purple{
    color: purple;
}.black{
    color: black;
}.white{
    color: white;
}